@model User
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        td {
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                First Name
            </td>
            <td>
                @Model.FirstName
            </td>
        </tr>
        <tr>
            <td>
                Last Name
            </td>
            <td>
                @Model.LastName
            </td>
        </tr>
        <tr>
            <td>
                Login
            </td>
            <td>
                @Model.Login
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                @Model.Email
            </td>
        </tr>
        <tr>
            <td>
                User Role
            </td>
            <td>
                @Model.UserRole
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @using (Html.BeginForm("Logout", "Identity", FormMethod.Post)) {
                    <div class="form-group">
                        <button type="submit">Logout</button>
                    </div>
                }
            </td>
        </tr>

    </table>
</body>
</html>