
@{
    Layout = null;
}

@model List<TaskObject>

@foreach (var item in Model) {
    <div id="@item.TaskID" class="col-lg-3 draggbleCard" style="padding-bottom: 10px">
        <div class="card shadow ">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-9">
                        @item.TaskName
                    </div>
                    <div class="col-lg-3">
                        @*@Html.ActionLink("Edit", "Edit", "DashBoard", item, new { @class = "btn btn-outline-secondary btn-sm editButton" })*@
                        <button type="button" class="btn btn-outline-secondary btn-sm editButton" data-toggle="modal" data-target="#editModal" data-taskid="@item.TaskID">Edit</button>


                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="propertyCaptionLabel">@Html.DisplayNameFor(model => item.StartDate):</label>
                    </div>
                    <div class="col-lg-8">
                        <p class="card-text cardText">@item.StartDate.ToShortDateString()</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="propertyCaptionLabel">@Html.DisplayNameFor(model => item.EndDate):</label>
                    </div>
                    <div class="col-lg-8">
                        <p id="date" class="card-text cardText">@item.EndDate.ToString("yyyy/MM/dd")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="card-text cardText">@item.TaskDescription</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-outline-secondary btn-sm subtasks-btn moderate-btn" data-toggle="modal" data-target="#subTusksDialog" data-taskid="@item.TaskID" value="SubTasks" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="margin-top: 15px;">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @item.TaskProgress%;" aria-valuenow="@item.TaskProgress" aria-valuemin="0" aria-valuemax="100">@item.TaskProgress%</div>
                        </div>
                    </div>
                </div>
                @if (item.TaskProgress == 100)
                {
                    <div class="row">
                        <div class="col-lg-12" style="margin-top: 15px;">                            
                            <input type="submit" style="" data-taskID="@item.TaskID" data-taskStatus="@item.Status" value="Finish" class="btn btn-outline-dark btn-sm moveButton " />
                        </div>
                    </div>
                }
                @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
            </div>
        </div>
    </div>
}