
@{
    Layout = null;
}

@model List<SubTask>


<style>
    .newRowElementHidden {
        display: none;
    }
</style>
<script>
    function NewButtonClick(event) {
        var newRowElement = $('.newRowElement');
        newRowElement.removeClass("newRowElementHidden");
    }
    function RefreshSubtasksContainer(taskID) {
        var containerName = "subtasksForm";
        var string = '@Url.Action("ShowSubTasks","DashBoard")?taskID=' + taskID;
        $('#' + containerName).load(string);
    }
    $('.updateSubTasksButton').click(function (e) {        
        e.preventDefault();
        var data = {
            taskID: $(this).data("taskid"),
            SubTaskName: $(".subTaskName").val(),
        };
        $.ajax({
            url: '/DashBoard/UpdateSubTask',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: 'json',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                var taskID = $(this).data("taskid");
                RefreshSubtasksContainer(data.taskID);
            },
            async: true,
            processData: false
        });
    });

    $(document).ready(function () {

        updateChecked();

    });
     function updateChecked() {
        $(".CheckSub").each(function () {

            var checkedNum = $(this).data("checked");
            console.log(checkedNum);
            if (checkedNum == 1) {

                console.log("true");
                $(this).attr('checked', true);
            }
            else {
                console.log("false");

                $(this).attr('checked', false);
            }
            });
     }
</script>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col"><button type="button" class="btn btn-outline-secondary btn-sm newSubTaskButton" onclick="javascript:NewButtonClick(event)">New</button></th>
            <th scope="col">SubTask Name</th>
            <th scope="col">Completed</th>

        </tr>
    </thead>
    <tbody>
        <tr class="newRowElement newRowElementHidden">
            <td>Name:</td>
            <td><input type="text" class="subTaskName" style="width:100%" /></td>
            <td><button type="button" class="btn btn-outline-secondary btn-sm updateSubTasksButton" data-taskid="@Model[0].TaskID">Update</button></td>
        </tr>

        @for (int i = 0; i < Model.Count; i++) {
            <tr>
                <th scope="row">@i</th>
                <td>@Model[i].SubTaskName</td>
                <td><input type="checkbox" class="CheckSub" data-checked="@Model[i].isComplete" ></td>
           </tr>
        }
    </tbody>
</table>

