
@{
    Layout = null;
}

@model List<SubTask>


<style>
    .newRowElementHidden {
        display: none;
    }
</style>
<script>
    function NewButtonClick(event) {
        var newRowElement = $('.newRowElement');
        newRowElement.removeClass("newRowElementHidden");
    }
    function RefreshSubtasksContainer(taskID) {
        var containerName = "subtasksForm";
        var string = '@Url.Action("ToDoSubTasks", "DashBoard")?taskID=' + taskID;
        $('#' + containerName).load(string);
    }
    $('.updateSubTasksButton').click(function (e) {
        e.preventDefault();
        var data = {
            taskID: $(this).data("taskid"),
            SubTaskName: $(".subTaskName").val(),
        };
        $.ajax({
            url: '/DashBoard/UpdateSubTask',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: 'json',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                var taskID = $(this).data("taskid");
                RefreshSubtasksContainer(data.taskID);
            },
            async: true,
            processData: false
        });
    });



     
</script>
<button type="button" class="btn btn-outline-secondary btn-sm newSubTaskButton" style="width:100%;" onclick="javascript:NewButtonClick(event)">New</button>

<div class="border border-info newRowElement newRowElementHidden" style="padding:10px; border-radius:5px; margin: 5px;">
    <p style="color:black;">Name:</p>
    <input type="text" class="subTaskName" style="width:80%" />
    <button type="button" class="btn btn-outline-secondary btn-sm updateSubTasksButton" data-taskid="@Model[0].TaskID">Update</button>
</div>

<table class="table table-bordered table-hover">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="border border-success subtask-div completed " data-subtaskid="@Model[i].SubTaskID" data-taskid="@Model[i].TaskID" style="margin: 5px; text-align: center; ">
            <p style="margin-top: 5px; color: black;">@Model[i].SubTaskName</p>
        </div>


    }
